{% extends "layout.html" %}
{% block content %}
  <h2>Jobs</h2>
  {{ show_job(job) }}
  <h2>Reviews</h2>
  {% for each in reviews %}
  {% endfor %}

    <div class="box">
      <article class="media">
        <div class="media-left">
            {% for _ in range(0, review['rating']): %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
        </div>
        <div class="media-content">
          <div class="content">
            <h1>{{ employer['name'] }}</h1>
            <div class="description"></div>
            <p>{{ employer['description'] }}</p>
            <p title="strong">></p>
            <p status="small"></p>
            <p date="small"></p>
            <p>review</p>
         
          </div>
        </div>
        
      </article>
    </div>
    {# TODO: Remove comment and end for loop
      {% %}
    #}
  <div class="columns">
    <div class="column">
      <a class="button is-info is-pulled-right">Create Review</a>
    </div>
  </div>
{% endblock %}